body{
    font-family: 'Courier Prime', monospace;
    font-family: 'DotGothic16', sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

h1{
    margin-top: 62px;
    color: red;
    font-size: 45pt;
}

p{
    color: rgb(33, 33, 33);
}

img{
    margin-top: 20px;
    max-width: 100%;
}